body {
  background-color: #09213e;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.main_container {
  margin: 0px auto;
  width: 1000px;
  height: 100vh;
  display: table;
  position: relative;
}
.inner_wrapper {
  margin: 0px auto;
  width: 1000px;
  height: 600px;
  /* background-color: rgb(12, 43, 82); */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* NAVIGATION */
.navigation {
  float: left;
  width: 300px;
  height: 100%;
  display: table;
  /* background-color: #0A5373; */
}

.navigation_wrapper {
  margin-bottom: 10px;
}
.navigation a {
  background-color: #ffb856;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #333;
  /* border: 2px solid #333; */
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin-bottom: 10px;
}

.navigation a span {
  position: relative;
  z-index: 2;
}

.navigation a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f26b5e;
  transition: all 0.35s;
}

.navigation a:hover {
  color: #fff;
}

.navigation a:hover:after {
  width: 100%;
}
.navigation .active {
  background-color: #f26b5e;
  color: #fff;
}
/* NAVIGATION */

/* CONTENT */
.content {
  float: right;
  width: 690px;
  height: 100%;
  display: table;
  background-color: #fff;
  border-top: 10px solid #f26b5e;
}
/*CONTENT */

/* FOOTER */
.footer {
  clear: both;
  float: right;
  margin-top: 10px;
  color: #eee;
  font-family: "Ubuntu", sans-serif;
}
/* FOOTER */

/* AVATAR */
.avatar_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 50px;
}
.avatar_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #ccc;
  overflow: hidden;
}
.avatar_image {
  width: 200px;
  height: 200px;
}
/* AVATAR */

/* HOME DETAILS */
.home_details_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 120px;
}
.opening_title {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: #666;
}
.opening_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #999;
  width: 80%;
  padding: 10px;
  line-height: 30px;
  margin-top: 20px;
}
.opening_title_name {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: #0a5373;
}
.hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
  width: 80%;
  margin-top: 20px;
}
.social_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 30px;
  width: 40%;
}
.social_circles {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  margin: 10px;
}
.socicon-facebook {
  clear: both;
  padding-top: 15px;
}
.fb {
  background-color: #3e5b98;
  font-size: 35px;
  color: #fff;
}
.fb:hover {
  background-color: #9a2efe;
  cursor: pointer;
}
.socicon-twitter {
  clear: both;
  padding-top: 17px;
}
.tw {
  background-color: #4da7de;
  font-size: 35px;
  color: #fff;
}
.tw:hover {
  background-color: #0080ff;
  cursor: pointer;
}
.socicon-instagram {
  clear: both;
  padding-top: 17px;
}
.in {
  background-color: #000000;
  font-size: 35px;
  color: #fff;
}
.in:hover {
  background-color: #f78181;
  cursor: pointer;
}

/* HOME DETAILS */

/* SKILLS DETAILS */
.skills_details_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 20px;
}
.skill_wrapper {
  margin-top: 20px;
  margin: 50px;
}
.skill_item_title {
  margin-bottom: 20px;
  float: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  width: 8%;
  text-align: left;
}
.skill_item_progress {
  margin-bottom: 20px;
  float: right;
  width: 88%;
}
progress {
  width: 100%;
  display: block; /* default: inline-block */
  /* margin: 2em auto; */
  padding: 3px;
  border: 0 none;
  background: #a64c44;
  border-radius: 14px;
}
progress::-moz-progress-bar {
  border-radius: 12px;
  background: orange;
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 12px;
  background: orange;
}

/* SKILLS DETAILS */

/* ABOUT DETAILS */
.about_details_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 20px;
}
.about_wrapper {
  margin-top: 20px;
  margin: 50px;
}
.about_details {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #999;
  width: 80%;
  padding: 10px;
  line-height: 30px;
  margin-top: 20px;
}
.details_color {
  color: #666;
}
#mapwrapper {
  display: none;
}
#map {
  margin-left: auto;
  background-color: red;
  height: 700px;
  margin-right: auto;
  width: 100%;
  position: absolute;
  z-index: 999999;
}
#close {
  width: 70px;
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: -10px;
  border-radius: 50%;
  z-index: 9999999;
  height: 70px;
  background-color: red;
  color: #fff;
  font-size: 30px;
}
#close div {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  position: relative;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  padding: 10px;
  background-color: #ffb856;
  text-align: center;
  border-radius: 10px;
  border: 0px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.socicon-googlemaps {
  font-size: 45px;
}
/* ABOUT DETAILS */

/* TEAM DETAILS */
.team_details_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 20px;
}
.team_wrapper {
  padding: 0;
  width: 100%;
  margin: 0px auto;
  height: auto;
  display: table;
  /* background-color: red; */
  padding-left: 10%;
}
.team_details {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #999;
  width: 80%;
  padding: 10px;
  line-height: 30px;
  margin-top: 20px;
}
.team_item {
  background-color: #efefef;
  border-radius: 10px;
  height: 200px;
  width: 140px;
  padding: 10px;
  overflow: hidden;
  float: left;
  margin: 10px;
}
.team_avatar_circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.team_avatar {
  width: 80px;
  height: 80px;
}
.team_title {
  margin-top: 10px;
  float: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.team_skill {
  margin-top: 10px;
  float: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: #f26b5e;
  font-weight: bold;
}
.team_links a {
  margin-top: 10px;
  float: left;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  width: 100%;
  text-align: center;
  color: #0a5373;
  cursor: pointer;
}

/* TEAM DETAILS */
