body {
  background-color: #172023;
  overflow-y: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
.main_container {
  margin: 0px auto;
  width: 1380px;
  height: 100vh;
  display: table;
  position: relative;
}
.inner_wrapper {
  margin: 0px auto;
  width: 1380px;
  height: 600px;
  /* background-color: rgb(12, 43, 82); */
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* NAVIGATION */
.navigation {
  float: left;
  width: 300px;
  height: 100%;
  display: table;
  /* background-color: #0A5373; */
}

.navigation_wrapper {
  margin-bottom: 10px;
}
.navigation a {
  background-color: #fadc05;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  color: #333;
  /* border: 2px solid #333; */
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin-bottom: 10px;
}

.navigation a span {
  position: relative;
  z-index: 2;
}

.navigation a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fcf4a1;
  transition: all 0.35s;
}

.navigation a:hover {
  color: #000;
}

.navigation a:hover:after {
  width: 100%;
}
.navigation .active {
  background-color: #fcf4a1;
  color: #23015b;
}
/* NAVIGATION */

/* CONTENT */
.content {
  float: right;
  width: 1070px;
  height: 100%;
  display: table;
  background-color: #fff;
  border-top: 10px solid #fadc05;
}
/*CONTENT */

/* FOOTER */
.footer {
  clear: both;
  float: right;
  margin-top: 10px;
  color: #eee;
  font-family: "Ubuntu", sans-serif;
}
/* FOOTER */

/* AVATAR */
.avatar_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 50px;
}
.avatar_circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #ccc;
  overflow: hidden;
}
.avatar_image {
  width: 200px;
  height: 200px;
}
/* AVATAR */

/* HOME DETAILS */
.home_details_wrapper {
  clear: both;
  height: 100px;
  margin: 0px auto;
  margin-top: 120px;
}
.opening_title {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: #172023;
  margin-top: 10px;
}
.opening_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #ccc;
  width: 80%;
  padding: 10px;
  line-height: 30px;
  margin-top: 20px;
}
.opening_title_name {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: #0a5373;
}
.hr {
  border-top: 1px solid #ddd;
  border-bottom: none;
  width: 80%;
  margin-top: 20px;
}

.details {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #999;
  width: 80%;
  padding: 10px;
  line-height: 35px;
  margin-top: 20px;
  /* height: 900px; */
  /* height: 600px; */
}
.details_overflow {
  overflow-y: scroll;
  width: 90%;
  padding-bottom: 80px;
  height: auto;
  display: table;
}
.details_overflow table {
  border: 1px solid #666;
  border-collapse: collapse;
}
.details_overflow table thead {
  font-weight: bold;
  color: #333;
  background-color: #fcf4a1;
}
.details_overflow table tbody img {
  width: 100%;
}
.details_overflow table tbody td:nth-child(1) {
  background-color: #fcf4a1;
  text-align: center;
  vertical-align: middle;
}
.details_overflow table thead td {
  padding: 10px;
  text-align: center;
}
.details_overflow table tbody td {
  padding: 15px;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
}
.details_overflow table tbody td .number {
  font-weight: bold;
  color: #333;
  padding-right: 8px;
}
.details_overflow table tbody td .key {
  font-weight: bold;
  color: #333;
}

.details_color {
  color: #666;
}
.appname {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #666;
  font-size: 28px;
}
/* HOME DETAILS */
